
Project/Debug/Project.srec
Project/Debug/Project.map
Project/Debug/Project.lss
Project/Debug/Project.hex
Project/Debug/Project.elf
Project/Debug/main.o
.vs/Project/v14/.atsuo
Project/Debug/Project.lss
